@import './mixin/flex.scss';                // flex(主轴,交叉轴,方向,换行,多轴线对齐) / flex-self(对齐,(布满||固定),顺序)
// @import './mixin/text-overflow.scss';       // 文本格式化超出省略号  参数：宽度,单行/多行
// @import './mixin/position-absolute.scss';   // 绝对定位  参数：上,右,下,左
// @import './mixin/triangle.scss';            // 画三角形  参数：宽度,朝向,颜色
@import './mixin/hr.scss';                  // 添加分割线  参数：位置,间隔

/*每个页面公共css */

/* 通用 */
page {
    min-height: 100%;
	font-size: 14px;
	line-height: 1;
    color: $uni-text-color;
	background-color: #f5f5f5;
}

/* 隐藏滚动条 */
.page-scrollbar{
    width: 100vw;
    height: 100vh;
    /* #ifdef H5 */
    height: calc(100vh - var(--window-bottom));
    /* #endif */
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar{
    display: none;
	width: 0;
	height: 0;
    -webkit-appearance: none;
    background: transparent;
	color: transparent;
}

/* 点击态 */
.hover{
    background-color: #f1f1f1 !important;
}

progress, checkbox-group{
	width: 100%;
}

form {
	width: 100%;
}

.swiper{
    &__item{
        height: 100%;
        width: 100%;
        
        &.scroll{
            overflow-y: scroll;
        }
    }
}

button[type=primary],button[type=primary].button-hover{
    background-color: $uni-color-primary;
}

button[type=default]::after, button[type=primary]::after, button[type=warn]::after{
    display: none;
}

button[type=primary][disabled]{
    background-color: rgba($color: $uni-color-primary, $alpha: 0.6);
}
	
.button{
	width: 100%;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
    
    &--block[type=warn][plain]{
        height: 60px;
        line-height: 60px;
        font-size: 15px;
        border: 0;
        background-color: $uni-bg-color;
    }
    
    &--radius{
        border-radius: 46px;
    }
}

radio-group, checkbox-group{
	width:100%;
}

radio-group label, checkbox-group label{
	padding-right:20rpx;
}
    
.radio{
    @include flex(null, center);
    height: 44px;
    padding: 0 0 0 $uni-spacing-row-lg;
    
    &__field{
        flex: none;
    }
    
    &__txt{
        color: $uni-text-color;
        flex: auto;
        padding: 0 $uni-spacing-row-base;
    }
}

.flex{
    &-row{
        @include flex(null, center);
    }
    
    &-col{
        @include flex(null, center, column);
    }
    
    &-full{
        @include flex-self(full);
    }
}

.color{
    &--success{
        color: $uni-color-success;
    }

    &--warn{
        color: $uni-color-warning;
    }

    &--error{
        color: $uni-color-error;
    }

    &--primary{
        color: $uni-color-primary;
    }

    &--grey{
        color: $uni-text-color-grey;
    }

    &--black{
        color: $uni-text-color;
    }
}

.price-before::before{
    font-size: 12px;
	content: "¥";
}

.hr-text{
	@include flex(between, center);
    width: 100%;
	color: $uni-text-color-grey;
	font-size: 11px;
	padding: $uni-spacing-col-sm 0;
	
	&::before, &::after{
		flex: auto;
		@include hr();
		position: initial;
        margin: 0 $uni-spacing-row-sm;
	}
}

.link{
    position: relative;
    display: inline-block;
    line-height: 1.4;
    background-color: inherit;
    
    &::after{
        @include hr(bottom);
    }
    
    &__no{
        background-color: initial;
    }
}

// 统一文章显示
rich-text.article__rich{
    
    .article__p{
        box-sizing: border-box;
        font-size: $uni-font-size-paragraph;
        line-height: 1.8;
        text-align: justify;
        color: #333;
        padding: 0 $uni-spacing-row-lg;
        margin-bottom: $uni-spacing-col-lg;
        // letter-spacing: 1px;

        &:first-child{
            padding-top: $uni-spacing-col-lg;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
    
    .article__img{
        box-sizing: border-box;
        display: block;
        max-width: 100% !important;
        height: initial !important;
        margin-bottom: $uni-spacing-col-lg;
    }
    
    .article__full{
        display: block;
        width: 100% !important;
        height: initial !important;
    }
}

.dot{
    height: 16px;
    width: 16px;
    background-color: $uni-color-error;
    border-radius: 50%;
    transform: scale(0.5) translate(-50%);
    
    &--nav{
        position: absolute;
        top: 6px;
        right: -6px;
        height: 16px;
    }
}